In [1]:
import pandas as pd
import pyreadr
import duckdb

## original dataset

In [4]:
## read dataset ----
file = "../data/input/aggregated_2000-2016_medicare_mortality_pm25_zip/aggregate_data.csv"

## number of rows ----
nrows = sum(1 for line in open(file))
nrows

In [11]:
## columns names ----
df = pd.read_csv(file, nrows=1e6)
df.columns

Index(['Unnamed: 0', 'zip', 'year', 'sex', 'race', 'dual', 'entry_age_break',
       'followup_year', 'dead', 'time_count', 'pm25_ensemble', 'mean_bmi',
       'smoke_rate', 'hispanic', 'pct_blk', 'medhouseholdincome',
       'medianhousevalue', 'poverty', 'education', 'popdensity',
       'pct_owner_occ', 'summer_tmmx', 'winter_tmmx', 'summer_rmax',
       'winter_rmax', 'region'],
      dtype='object')

## eda

In [2]:
conn = duckdb.connect()

In [5]:
## number of different zipcodes ----

conn.execute(f"""
    SELECT COUNT(DISTINCT zip)
    FROM '{file}'
""").fetchdf()

FloatProgress(value=0.0, layout=Layout(width='100%'), style=ProgressStyle(bar_color='black'))

   count(DISTINCT zip)
0                34928

In [6]:
## number of different years ----

conn.execute(f"""
    SELECT COUNT(DISTINCT year)
    FROM '{file}'
""").fetchdf()

FloatProgress(value=0.0, layout=Layout(width='100%'), style=ProgressStyle(bar_color='black'))

   count(DISTINCT "year")
0                      17

In [11]:
## number of different sex, race, dual ----

conn.execute(f"""
       SELECT COUNT(DISTINCT (sex, race, dual))
       FROM '{file}'
""").fetchdf()

FloatProgress(value=0.0, layout=Layout(width='100%'), style=ProgressStyle(bar_color='black'))

   count(DISTINCT main.row(sex, race, dual))
0                                         28

In [13]:
## number of different zip, year, sex, race, dual ----

conn.execute(f"""
       SELECT COUNT(DISTINCT (zip, year, sex, race, dual))
       FROM '{file}'
""").fetchdf()

FloatProgress(value=0.0, layout=Layout(width='100%'), style=ProgressStyle(bar_color='black'))

   count(DISTINCT main.row(zip, "year", sex, race, dual))
0                                            6711491

In [17]:
## number of different entry_age_break ----

entry_age_break_ = conn.execute(f"""
       SELECT DISTINCT entry_age_break
       FROM '{file}'
""").fetchdf()
entry_age_break_

FloatProgress(value=0.0, layout=Layout(width='100%'), style=ProgressStyle(bar_color='black'))

   entry_age_break
0                3
1                1
2                2
3                4
4                5
5                6
6                7
7                8

In [20]:
## number of different zip, year, sex, race, dual, entry_age_break ----

conn.execute(f"""
       SELECT COUNT(DISTINCT (zip, year, sex, race, dual, entry_age_break))
       FROM '{file}'
""").fetchdf()

FloatProgress(value=0.0, layout=Layout(width='100%'), style=ProgressStyle(bar_color='black'))

   count(DISTINCT main.row(zip, "year", sex, race, dual, entry_age_break))
0                                           18545359

In [19]:
## number of different follow_up_year ----

followup_year_ = conn.execute(f"""
       SELECT DISTINCT followup_year
       FROM '{file}'
""").fetchdf()
followup_year_

FloatProgress(value=0.0, layout=Layout(width='100%'), style=ProgressStyle(bar_color='black'))

    followup_year
0               2
1               1
2               3
3               4
4               5
5               6
6               7
7               8
8               9
9              10
10             11
11             12
12             13
13             14
14             15
15             16
16             17
17             18

In [21]:
## number of different zip, year, sex, race, dual, entry_age_break ----

conn.execute(f"""
       SELECT COUNT(DISTINCT (zip, year, sex, race, dual, entry_age_break, followup_year))
       FROM '{file}'
""").fetchdf()

FloatProgress(value=0.0, layout=Layout(width='100%'), style=ProgressStyle(bar_color='black'))

   count(DISTINCT main.row(zip, "year", sex, race, dual, entry_age_break, followup_year))
0                                           46427917

## fake dataset

In [2]:
df_fake = pyreadr.read_r("../data/output/fake_aggregate_data.rds")
df_fake = df_fake[None] #df_fake = next(iter(df_fake.values()))

In [3]:
## number of rows ----
df_fake.shape

(464279, 25)

In [4]:
## columns names ----
df_fake.columns

Index(['zip', 'year', 'sex', 'race', 'dual', 'entry_age_break',
       'followup_year', 'dead', 'region', 'time_count', 'pm25_ensemble',
       'mean_bmi', 'smoke_rate', 'hispanic', 'pct_blk', 'medhouseholdincome',
       'medianhousevalue', 'poverty', 'education', 'popdensity',
       'pct_owner_occ', 'summer_tmmx', 'winter_tmmx', 'summer_rmax',
       'winter_rmax'],
      dtype='object')